@import "./../../../Shared/styles/variables.scss";
.dataViewer {
  .bottom-button-row {
    text-align: right;
    padding-bottom: 10px;
    .bottom-nav-button {
      background-color: $sera-rouge !important;
      color: white !important;
    }
  }
  .select-button {
    background-color: $sera-rouge;
    color: white;
  }
  text-align: center;
  margin: auto;
  margin-top: 30px;
  .MuiInputBase-root {
    margin-right: 20px !important;
    margin-bottom: 7px !important;
  }
  .button-row {
    margin-bottom: 20px !important;
    text-align: center;
    .MuiButtonBase-root {
      color: white;
    }
  }
  .table {
    padding-top: 10px;
  }

  table {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    display: block;
    height: 550px;

    overflow-y: scroll;
    overflow-x: scroll;
    width: fit-content;
  }
  thead th {
    display: table-cell;
    padding: 6px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border: 1px solid rgba(81, 81, 81, 1);
    border-bottom: 1px solid rgba(81, 81, 81, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
    color: #fff;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #224710;
  }
  td {
    display: table-cell;
    padding: 6px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border: 1px solid rgba(81, 81, 81, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
    color: #fff;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #424242;
  }
  td:not(:first-child) {
    background-color: #706565;
    //background-color:white;
    //color:black;
  }
  tr:hover {
    td {
      border: 2px solid red !important;
    }
  }
  td:first-child {
    background-color: #224710;
  }

  // .highlight td:not(:first-child){
  //     background-color:white;
  //     color:black;
  // }
  .highlight .highlightcol {
    background-color: #4ca821 !important;
    color: white !important;
  }
}
