.rma-action-container{
    .update-button{
        margin: 5px;
        float: right !important;
        background-color: #ed1a39;
        color: white !important;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px,
          rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
          rgba(0, 0, 0, 0.12) 0px 2px 1px -1px !important;
      }
      .ReactTable {
        margin-top: 10px;
        .rt-thead.-headerGroups {
          background-color: #32303a !important;
          color: white;
        }
    }
}
.reviewReports{
    
}