.add-transform{
    .selection-container{
        margin-bottom:50px;
    }
    .MuiSelect-root{
        width: 200px;
        //background-color: white !important;
        padding:10px;
    }
    .source-button{
        margin-top:10px;
        margin-bottom:10px;
        width: 220px!important;
        background-color: #3f51b5 !important;
        color:white !important;
    }
}